.Montserrat {
  font-family: 'Montserrat', sans-serif !important;
}

.Merriweather a {
  font-family: 'Merriweather', sans-serif;
}

.Merriweather-Sans {
  font-family: 'Merriweather', sans-serif !important;
}
